public class  app
{
  public static void main(String args[])
  {
    myJFrame mjf = new myJFrame();
  }
}

import java.awt.*;
import javax.swing.*;
import javax.swing.BoxLayout;
public class myJFrame extends JFrame
{
	public myJFrame ()
	{
           
            JFrame frame = new JFrame("Team 5 Game");
                PrimaryPanel mjp = new PrimaryPanel();
		getContentPane().add(mjp,"Center");
                setDefaultCloseOperation(EXIT_ON_CLOSE);
		setSize (640, 480);
		setVisible(true);

   
}
}
import java.awt.*;
import javax.swing.*;
import javax.swing.BorderFactory.*;
import javax.swing.border.*;

public class PrimaryPanel extends JPanel {
   
    public PrimaryPanel(){
    
    super();
    setBackground(Color.white);
    setLayout(new GridBagLayout());
    Border bevel = BorderFactory.createBevelBorder(BevelBorder.RAISED, Color.black, Color.lightGray);
    Border etch = BorderFactory.createEtchedBorder(Color.black, Color.black);
    Insets m = new Insets(100,100,100,100);
    TitledBorder title = BorderFactory.createTitledBorder(etch, "Click to Start:");
    title.setTitleColor(Color.white);
    
    JButton gn = new JButton("PSU IST Student Sim");
    gn.setBorder(title);
    gn.setFont(new Font("Serif", Font.BOLD, 50));
    GridBagConstraints gnConst = new GridBagConstraints();
    gnConst.insets.set(10,10,10,10);
    gnConst.gridy = 0;
    gnConst.gridx = 2;
    gnConst.fill = GridBagConstraints.HORIZONTAL;
    gnConst.weightx = 1.0;
    gnConst.ipady = 40;
    gn.setBackground(Color.blue);
    gn.setForeground(Color.white);
    add(gn, gnConst);
    
    JTextField playerName = new JTextField("Enter Your Name", 30);
    playerName.setBorder(bevel);
    GridBagConstraints pnConst = new GridBagConstraints();
    pnConst.insets.set(10,10,10,10);
    pnConst.gridy = 1;
    pnConst.gridx = 2;
    pnConst.weightx = 1.0;
    add(playerName, pnConst);
    
    JButton instr = new JButton("   Instructions   ");
    instr.setMargin(m);
    instr.setBorder(bevel);
    GridBagConstraints instrConst = new GridBagConstraints();
    instrConst.insets.set(10,10,10,10);
    instrConst.gridy = 5;
    instrConst.gridx = 2;
    instrConst.weightx = 1.0;
    instrConst.gridwidth = 3;
    instr.setBackground(Color.blue);
    instr.setForeground(Color.white);
    add(instr, instrConst);
    
    JButton cred = new JButton("    Credits    ");
    cred.setBorder(bevel);
    GridBagConstraints credConst = new GridBagConstraints();
    credConst.insets.set(10,10,10,10);
    credConst.gridy = 9;
    credConst.gridx = 2;
    add(cred, credConst);
    cred.setBackground(Color.blue);
    cred.setForeground(Color.white);
          
    JButton Hs = new JButton("   High Score  ");
    Hs.setBorder(bevel);
    GridBagConstraints hsConst = new GridBagConstraints();
    hsConst.insets.set(10,10,10,10);
    hsConst.gridy = 7;
    hsConst.gridx = 2;
    hsConst.weightx = .5;
    hsConst.gridwidth = 2;
    add(Hs, hsConst);
    Hs.setBackground(Color.blue);
    Hs.setForeground(Color.white);
    
}
}

   
import java.awt.*;
import java.awt.event.*;
import javax.swing.*;


public class StartPanel extends JPanel implements ActionListener {
    
    JButton home;
    JLabel begin;
   
    public StartPanel()
    {
        super();
        setBackground(Color.blue);
        
        begin= new JLabel ("HELLO!", JLabel.CENTER);
        begin.setFont(new Font("Serif", Font.BOLD, 48));
        begin.setForeground(Color.white);
        add(begin);
        home= new JButton ("return home");
        home.addActionListener(this);
        add(home);
    }

@Override
    public void actionPerformed(ActionEvent event) 
    {
        Object obj = event.getSource();
        {
         if (obj == home)
        removeAll();
          PrimaryPanel pp = new PrimaryPanel();
          add(pp);
          revalidate();
          repaint();
        }
    }

import java.awt.*;
import java.awt.event.*;
import javax.swing.*;

public class Instructions extends JPanel implements ActionListener
{
    JButton home;
    JButton start;
        
    public Instructions ()
    {
        super();
        setBackground(Color.white);
        
        add(new JLabel ("Please Read Instructions\n") );
        add(new JLabel ("Instructions Here: \n ") );
        home = new JButton ("Home");
        start = new JButton ("Start");
        
        add (start);
        add(home);
        
    }
   @Override
    public void actionPerformed(ActionEvent event) 
    {
        Object obj = event.getSource();
        {
         if (obj == home)
        removeAll();
          PrimaryPanel pp = new PrimaryPanel();
          add(pp);
          revalidate();
          repaint();
        }
    }
